
    <form [formGroup]="editUserForm" class="example-form" (ngSubmit)="save()">
        <h2 class="text-center">Edit User</h2>
  
      <mat-form-field class="example-full-width">
          <input matInput placeholder="First name" formControlName="firstName" autocomplete="off">
          <mat-error *ngIf="editUserForm.controls.firstName.invalid && editUserForm.controls.firstName.touched" class="has-text-danger">
              Invalid firstName
          </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Last name" formControlName="lastName" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="email" formControlName="email" autocomplete="off">
          <mat-error *ngIf="editUserForm.controls.email.invalid && editUserForm.controls.email.touched" class="has-text-danger">
              Invalid email
          </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="age" formControlName="age" autocomplete="off">
          <mat-error *ngIf="editUserForm.controls.age.invalid && editUserForm.controls.age.touched" class="has-text-danger">
              Invalid age
          </mat-error>
      </mat-form-field>

      <div class="button-row">
        <button mat-raised-button [disabled]="editUserForm.invalid" (click)="save()" color="primary">Update</button>
        <button mat-raised-button (click)="goBack()" color="warn">Cancel</button>
      </div>
  
    </form>