<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Add task</mat-card-title>
    <mat-card-subtitle>Create a new task here</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addTaskForm" class="example-form" (ngSubmit)="save()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Task Name" formControlName="taskName" autocomplete="off">
        <mat-error *ngIf="addTaskForm.controls.taskName.invalid && addTaskForm.controls.taskName.touched" class="has-text-danger">
          Invalid Task Name
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a description" formControlName="description" autocomplete="off"></textarea>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [disabled]="addTaskForm.invalid" (click)="save()" color="primary">Save</button>
    <button mat-raised-button (click)="goBack()" color="warn">Cancel</button>
  </mat-card-actions>
</mat-card>
