<mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Add task</mat-card-title>
              <mat-card-subtitle>Create a new task here</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                    <form [formGroup]="addTaskForm" class="example-form" (ngSubmit)="save()">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Name" formControlName="name" autocomplete="off">
                              <mat-error *ngIf="addTaskForm.controls.name.invalid && addTaskForm.controls.name.touched" class="has-text-danger">
                                  Invalid name
                              </mat-error>
                          </mat-form-field>
                      
                        </form>
            </mat-card-content>
            <mat-card-actions>
                    <button mat-raised-button [disabled]="addTaskForm.invalid" (click)="save()" color="primary">Save</button>
        <button mat-raised-button (click)="goBack()" color="warn">Cancel</button>
            </mat-card-actions>
          </mat-card>
    
    
    
    
        