<div class="panel panel-primary">
    <div class="panel-heading">
      Users
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
              <th>ID</th>
              <th>Name</th>
              <th>Age</th>
              <th>Email</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.fname}} {{user.lname}}</td>
                <td>{{user.lname}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" routerLink="detail/{{user.id}}">
                      Details
                    </button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

    </div>

  </div>
